@import '/src/styles.scss';

.label {
  margin-right: 10px;
}

.file-label {
  border: 2px solid #BEA0D3;
  ;
  border-radius: 3px;
  text-align: center;
  font-family: $font;
  padding: 5px;
}

.file-label:hover,
:focus {
  outline: none;
  transition: 0.3;
  box-shadow: 3px 3px 3px 0 $secundaria;
}