<form [formGroup]="form">
  <div class="c-container">
    <div class="form-image">
      <img style="width: 400px" src="assets/image/img_form.svg" alt="duas pessoas com formularios" />
    </div>
    <div class="c-title">
      <legend>Adicione sua receita</legend>
    </div>
    <div class="main-form">
      <div>
        <label class="c-input-label">Categoria: </label>
        <select class="c-container-input-select" id="category" formControlName="category">
          <option *ngFor="let category of categories" [value]="category.category">
            {{ category.category }}
          </option>
        </select>
        <app-control-erro [mostrarErro]="verificaValidTouched('category')" msgErro="Campo obrigatório!">
        </app-control-erro>
      </div>

      <div class="file">
        <legend class="label">Foto da Receita:</legend>
        <button mat-icon-button >
          Selecione uma foto
          <mat-icon fontIcon="insert_photo"></mat-icon>
        </button>
        <!-- <label for="image" class="file-label"> Escolher arquivo </label>
        <input
          id="image"
          type="file"
          formControlName="image"
          (change)="fileUpload($event.target)"
          style="display: none"
        /> -->
      </div>

      <div>
        <label for="recipe" class="c-input-label">Receita:</label>
        <input type="text" class="c-container-input" formControlName="recipe" id="recipe" name="recipe" />
        <app-control-erro [mostrarErro]="verificaValidTouched('recipe')" msgErro="Campo obrigatório!">
        </app-control-erro>
      </div>

      <div>
        <label for="createdBy" class="c-input-label">Criado por:</label>
        <input
          type="text"
          class="c-container-input"
          formControlName="createdBy"
          name="createdBy"
          id="createdBy"
          placeholder="Nome e sobrenome"
        />
        <app-control-erro [mostrarErro]="verificaValidTouched('createdBy')" msgErro="Campo obrigatório!">
        </app-control-erro>
      </div>

      <div>
        <label for="revenue" class="c-input-label">Serve:</label>
        <input type="text" class="c-container-input" formControlName="revenue" name="revenue" id="revenue" />
        <app-control-erro [mostrarErro]="verificaValidTouched('revenue')" msgErro="Campo obrigatório!">
        </app-control-erro>
      </div>

      <div>
        <label for="preparationTime" class="c-input-label">Tempo de preparo:</label>
        <input
          type="text"
          class="c-container-input"
          formControlName="preparationTime"
          name="preparationTime"
          id="preparationTime"
        />
        <app-control-erro [mostrarErro]="verificaValidTouched('preparationTime')" msgErro="Campo obrigatório!">
        </app-control-erro>
      </div>

      <div formArrayName="ingredients" *ngFor="let ingredient of ingredients.controls; last as isLast; index as i" class="input-row">
        <label for="ingredients" class="c-input-label">Ingredientes:</label>
        <input [formControl]="ingredient" class="c-container-input" id="ingredients" name="ingredients" />
        <app-control-erro [mostrarErro]="verificaValidTouched('ingredients')" msgErro="Campo obrigatório!">
        </app-control-erro>
        <button type="button" class="btn" *ngIf="ingredients.length > 1" (click)="onRemove(i)">Remover</button>
        <button type="button" class="btn" *ngIf="isLast  " (click)="onAdd()" >Adicionar</button>
      </div>

      <h2>Ingredientes</h2>
      <div>{{ ingredients.valueChanges | async | json }}</div>

      <div>
        <label for="methodOfPreparation" class="c-input-label">Modo de Preparo:</label>
        <textarea
          id="methodOfPreparation"
          class="c-container-input-textarea"
          cols="70"
          rows="5"
          name="methodOfPreparation"
          formControlName="methodOfPreparation"
        ></textarea>
        <app-control-erro [mostrarErro]="verificaValidTouched('methodOfPreparation')" msgErro="Campo obrigatório!">
        </app-control-erro>
      </div>
      <div class="buttons">
        <button type="submit" class="btn" (click)="onSubmit()">Salvar</button>
        <button type="button" (click)="onCancel()" class="btn">Cancelar</button>

      </div>
    </div>
  </div>
</form>
