<h1 class="titulo">Receitas</h1>
<section class="pacotes">
  <div class="recipe">
    <img [src]="recipe.image" [alt]="recipe.recipe" class="recipe-img" />
    <div class="recipe-cards-principal">
      <h1 class="recipe-cards-principal-titulo">
        <a class="recipe-cards-principal-titulo" [routerLink]="['details', recipe.id]">{{ recipe.recipe }}</a>
      </h1>
      <div>
        <ul class="recipe-cards-principal-titulo-ul">
          <li class="recipe-cards-principal-titulo-li">
            <div class="recipe-cards-principal-titulo-li-container">
              <img class="recipe-cards-principal-titulo-li-icons" src="assets/icons/padeiro.png" alt="" />
              <p class="recipe-cards-principal-titulo-p">{{ recipe.createdBy }}</p>
            </div>
          </li>
          <li class="recipe-cards-principal-titulo-li">
            <div class="recipe-cards-principal-titulo-li-container">
              <img class="recipe-cards-principal-titulo-li-icons" src="assets/icons/clock.png" alt="" />
              <p class="recipe-cards-principal-titulo-p">{{ recipe.preparationTime }}</p>
            </div>
          </li>
          <li class="recipe-cards-principal-titulo-li">
            <div class="recipe-cards-principal-titulo-li-container">
              <img class="recipe-cards-principal-titulo-li-icons" src="assets/icons/prato.png" alt="" />
              <p class="recipe-cards-principal-titulo-p">{{ recipe.revenue }}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
