@import '/src/styles.scss';

footer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $gradient;
  height: 20%;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    color: $color-font;
    font-family: $font;
    text-align: center;
  }
}
