@import '/src/styles.scss';

footer {
  background: palevioletred;
  display: inline-block;
  bottom: 0;

  height: 40px;
  position: fixed;
  width: 100%;

  p {
    // color: $color-font;
    // font-family: $font;
    text-align: center;
    font-size: 15px;


  }
}