@import '/src/styles.scss';

.container {
  overflow: auto;
  background-color: #E0F8D1;
}

.recipes {
  margin: 10px 0;

  &-img {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    border-radius: 9px;
    width: 400px;

    &-title {
      text-align: center;
      margin: 8px 0;
    }
  }
}

.recipe-details {

  display: grid;
  grid-template-columns: 0.2fr 0.3fr;
  grid-template-rows: repeat(2, 1fr);
  ;
  max-width: 100%;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;


  &-h2 {
    // text-align: center;
    font-family: $font;

    &-ingre {
      list-style-type: square;
      list-style-position: inside;
      color: #089db0;
      font-size: 17px;
    }

    &-ingredients {
      // display: flex;
      // align-items: flex-end;
      // justify-content: space-between;

    }
  }

}