@import '/src/styles.scss';

.card-a {
  cursor: pointer;
  text-decoration: none;

  &-img {
    border-radius: 8px;
    max-width: 200px;
    object-fit: cover;
  }

  &-p {
    color: $color-font;
    font-family: $font;
    font-weight: bold;
    font-size: $main-source;
  }
}
