$color-font: #faf0ca;
$gradient: linear-gradient(
  #ff0f7b,
  #ff2469,
  #ff3658,
  #fe4748);


.container {
  background:$gradient;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
  color: $color-font;
}
