@import '/src/styles.scss';


.container {
  background:$gradient;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px;
  color: $color-font;
  font-family: 'Roboto', sans-serif;
}
