@import '/src/styles.scss';

.card-h1 {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  color: #800080;
}

.main-card {
  background-color: #E0F8D1;
  font-family: $font;
  height: 60%;

}

.card-list {
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  grid-template-rows: 200px 200px;
  justify-content: center;


}


