@import '/src/styles.scss';

.card-h1 {
  font-size: 30px;
  text-align: center;
  padding-bottom: 30px;
  color: #800080;
  width: 100%;

}

.main-card {
  background-color: #E0F8D1;
  font-family: $font;
  width: 100%;

}

.card-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  flex-direction: row;
  grid-template-rows: repeat(2, 0.2fr)1fr;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;

}