@import '/src/styles.scss';

.cabecalho-nav {
  display: flex;
  font-size: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  font-family: $font;

  &-li {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 20px;
  }
  &-a {
    color: $color-font;
    text-decoration: none;
  }
}
