.c-title {
  text-align: center;
  font-size: 30px;
  margin: 22px;
  color: #9CB3F7;
  font-weight: bold;
  font-family: $font;


}

.form-image {

  width: 400px;
  display: flex;
  background-color: green;

}

.main-form {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* margin: auto; */
  padding: 3rem;


  flex-basis: 48%;
}

.c-input-label {

  font-size: $main-source;

  padding: 10px 5px;

  &::after {
    content: "*";
    color: brown;

  }
}

.buttons {
  display: flex;

}

.c-container {
  width: 80%;
  height: 80vh;
  display: flex;


  &-input {
    border: 2px solid #BEA0D3;
    border-radius: 4px;
    background: transparent;
    font-family: $font;
    font-size: 16px;
    margin: 5px;

    &-select {
      border: 2px solid #BEA0D3;
      border-radius: 4px;
      background: transparent;
      font-family: $font;
      font-size: 16px;

      &:hover,
      &:focus {
        outline: none;
        transition: 0.3;
        box-shadow: 3px 3px 3px 0 $secundaria;
      }
    }

    &-textarea {

      border: 2px solid #BEA0D3;
      border-radius: 4px;
      background: transparent;

      font-family: $font;
      font-size: 16px;

      &:hover,
      &:focus {
        outline: none;
        transition: 0.3;
        box-shadow: 3px 3px 3px 0 $secundaria;
      }
    }

    &:hover,
    &:focus {
      outline: none;
      transition: 0.3;
      box-shadow: 3px 3px 3px 0 $secundaria;
    }

  }
}




.input-row {
  display: flex;
  align-items: center;


}
