body {
  background: #E0F8D1;
  font-size: $main-source;
  font-family: $font;
}

.c-title {
  text-align: center;
  font-size: 30px;
  color: #9CB3F7;
}


.c-input {

  justify-content: space-around;

  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 10px;




  &-label {

    font-size: $main-source;
    padding: 10px 0;

    &::after {
      content: "*";
      color: brown;

    }
  }

}

.c-inputs {
  border: 2px solid #BEA0D3;
  border-radius: 4px;
  background: transparent;


  font-family: $font;
  font-size: $main-source;

  &-select {
    border: 2px solid #BEA0D3;
    border-radius: 4px;
    background: transparent;

    font-family: $font;
    font-size: $main-source;

    &:hover,
    &:focus {
      outline: none;
      transition: 0.3;
      box-shadow: 3px 3px 3px 0 $secundaria;
    }
  }

  &-textarea {

    border: 2px solid #BEA0D3;
    border-radius: 4px;
    background: transparent;

    font-family: $font;
    font-size: $main-source;

    &:hover,
    &:focus {
      outline: none;
      transition: 0.3;
      box-shadow: 3px 3px 3px 0 $secundaria;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    transition: 0.3;
    box-shadow: 3px 3px 3px 0 $secundaria;
  }

}

// .input-row{
//   display: flex;
//   align-items: center;
//   padding: 0;
//   margin: 0;
// }
